@charset"UTF-8";
body{
    background-color: rgb(234, 226,203);
}
.corpo{
    text-align: center;
    padding: 20px 0;
    width: 90%;
    border: 8px white;
    margin-left: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
}
header {
    background-image: url=("../imagens/images.jpg");
    margin:auto;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
}
h1{
    background-color: rgb(252, 191,73);
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(0, 48, 73);
    text-shadow: 1px 1px 2px black;
}
h2{
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(247, 127, 0);
    text-shadow: 1px 1px 2px black;
}
p{
    color:rgb(204, 196,173);
    text-shadow: 1px 1px 2px black; 
}
ul li{
    text-align: center;
    display: inline;
    margin-right: 20px;
}
ul li a{
    text-align: center;
    text-decoration: none;
    color:#e2e6e7;
    font-weight: bold;
    background-color: rgb(247, 127, 0);
    border-radius: 5px;
    text-shadow: 1px 1px 2px black;
}
ul{
    text-align: center;
}
