@charset"UTF-8";
body{
    background-image: url(../imagens/fundo.jpg);
}
.corpo{
    background-color: bisque;
    text-align: center;
    padding: 20px 0;
    width: 95%;
    border: 8px white;
    margin-top: -5px;
    margin-left: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
}
header{
    background-image: url=("../imagens/images.jpg");
    margin:-20px 0px 20px 0px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
}
#foto{
    background-image: url(../imagens/imagem-bíblia.jpg);
    background-repeat: no-repeat;
    background-size: 300px;
    height: 170px;
}
 img {
    width: 100px;
    display: flex; 
    align-items: center;
    max-width: 50%; 
    height: auto; 
    margin-left: 40px; 
}
#sobre {
    flex: 1; 
    width: 400px;
    margin-left: 200px;
    margin-top: -100px;
}
h1{
    background-color: rgb(252, 191,73);
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(0, 48, 73);
    text-shadow: 1px 1px 2px black;
}
h2{
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(337, 217, 90);
    text-shadow: 1px 1px 2px black;
}
p{
    color:black;
     
}
ul li{
    text-align: center;
    margin-right: 20px;
    padding: 4px;
    list-style: none;
    color:rgb(247, 127, 0);
    font-weight: bold;
    text-shadow: 1px 1px 1px black; 
}
ul li a{
    text-align: center;
    text-decoration: none;
    color:#e2e6e7;
    font-weight: bold;
    background-color: rgb(247, 127, 0);
    border-radius: 5px;
    text-shadow: 1px 1px 2px black;
}
ul{
    text-align: center;
    width: 80px;
    padding: 5px;
    margin-left: 400px;
    background-color:rgb(252, 191,73) ;
}
a{
    text-align: center;
    text-decoration: none;
    color:#e2e6e7;
    font-weight: bold;
    background-color: rgb(247, 127, 0);
    border-radius: 5px;
    text-shadow: 1px 1px 2px black;   
}
